<pre class="ascii-title">
                                                                        
    ***** **         ***** *    **        ***** *       
    ******  ****     ******  *  *****     ******  *        
   **   *  *  ***   **   *  *     *****  **   *  *         
  *    *  *    *** *    *  **     * **  *    *  *          
      *  *      **     *  ***     *         *  *           
     ** **      **    **   **     *        ** **           
     ** **      **    **   **     *        ** **           
   **** **      *     **   **     *        ** **           
  * *** **     *      **   **     *        ** **           
     ** *******       **   **     *        ** **           
     ** ******         **  **     *        *  **           
     ** **              ** *      *           *            
     ** **               ***      *       ****           * 
     ** **                ********       *  *************  
**   ** **                  ****        *     *********    
***   *  *                               *                  
***    *                                 **                
 ******                                                    
   ***                                                     
    </pre>

    <!-- Search Input -->
    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Search by Discord ID">
        <div id="search-results" class="hidden"></div>
    </div>

    <div id="nav-bar">
        <a href="/" class="nav-header">LEADERBOARD</a>
        <div  class="nav-header">✳</div>
        <a href="/bettyboard" class="nav-header">BETTYBOARD</a>
    </div>